* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  background-position: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 113px;
  }
}
.bar-container {
  background-color: #fcca3b;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(50, 50, 50, 0.65);
  -moz-box-shadow: 0px 0px 24px 0px rgba(50, 50, 50, 0.65);
  box-shadow: 0px 0px 24px 0px rgba(50, 50, 50, 0.65);
}
.bar {
  min-height: 50px;
  border-radius: 10px;
  width: calc(113px * 4);
  background-color: #0000;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 40px,
    #000000 40px,
    #000000 80px
  );

  animation: slide 4s linear infinite;
  will-change: background-position;
}
@media only screen and (max-width: 450px) {
  .bar-container {
    width: calc(113px * 3);
  }
}
@media only screen and (max-width: 350px) {
  .bar-container {
    width: calc(113px * 2);
  }
}

.bar-container h3 {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  color: #cfe0f0;
  text-shadow: 1px 1px 18px #000;
}
